*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3, h4, p{
    color: white;
}
body {
    font-family: 'Catamaran', sans-serif;
    background-color: $fondoNegro; 
}
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "navbar"
    "contenido "
    "footer ";
}
.navbar {
    display: flex;
    background: rgb(34,11,21);
    background: linear-gradient(90deg, rgba(34,11,21,1) 0%, rgba(222,135,89,1) 71%, rgba(255,157,101,1) 100%);
    grid-area: navbar;
    width: 100%;
}
.logo img{
    width: 6rem;
    height: 6rem;
    &:hover{
        transform: scale(1.2);
        transition: all 0.8s ease;
    }
}
nav ul li{
    display: inline-block;
    background-color: $fondoNegro;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    border-radius:20px;
    margin: 2.5rem 0rem 0rem 7rem;   
    &:hover{
        transform: scale(1.2);
        transition: all 0.5s ease;
    }
    a{
        color: white;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        margin: 1.8rem;
        font-family: 'Bebas Neue', cursive;
    }
}
main{
    grid-area: contenido;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: $dorado;
    font-family: 'Aboreto', cursive;
    margin-top: 3rem;
}
footer{
    width: 100%;
    background-color: $doradoOscuro;
    margin-top: 4rem;
    grid-area: footer; 
}
.anchoPie{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    p{
        font-size: 1.5rem;
        color: black;
    }
}
.redes{
    margin: auto;
    display: flex;
    a img{
        width: 1.5rem;
        margin-left: 3rem;
        &:hover{
            transform: scale(1.7);
            transition: all 0.8s ease;
        }
    }
}