.informacion{
    margin: 1rem;
    padding-top: 2rem;
    h2{
        font-size: 2rem;
        text-align: center;
        text-decoration: overline;
        p{
            font-size: 1.2rem;
        }
    }
}
