.ubicacion{
    margin: 1rem;
    padding-top: 4rem;
    h2 p{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 2rem;
    }
    h3 p{
        font-size: 1.2rem;    
    }
    iframe{
        padding-top: 3rem;
        width: 700px;
        height: 500px;
    }
}
.horarios{
    margin: 1rem;
    padding-top: 2rem;    
    h2{
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    h3{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}