* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2, h3, h4, p {
  color: white; }

body {
  font-family: 'Catamaran', sans-serif;
  background-color: #444141; }

.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "navbar" "contenido " "footer "; }

.navbar {
  display: block;
  background-color: #444141;
  grid-area: navbar;
  margin: auto; }

.logo img {
  margin: 1rem 0 1rem 28rem;
  width: 12rem;
  height: 12rem; }
  .logo img:hover {
    transform: scale(1.5);
    transition: all 0.8s ease; }

nav ul li {
  display: inline-block;
  background-color: #ff9d65;
  border-radius: 10px;
  margin-left: 7rem; }
  nav ul li:hover {
    transform: scale(1.2);
    transition: all 0.5s ease; }
  nav ul li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1.8rem;
    font-family: 'Bebas Neue', cursive; }

main {
  grid-area: contenido; }

h1 {
  text-align: center;
  font-size: 3rem;
  color: #ff9d65;
  font-family: 'Aboreto', cursive;
  margin-top: 3rem; }

footer {
  width: 100%;
  background-color: #e08e5e;
  margin-top: 4rem;
  grid-area: footer; }

.anchoPie {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  .anchoPie p {
    font-size: 1.5rem;
    color: black; }

.redes {
  justify-content: center;
  display: inline-block; }
  .redes a img {
    width: 1.5rem;
    margin-left: 3rem; }
    .redes a img:hover {
      transform: scale(1.7);
      transition: all 0.8s ease; }

.informacion {
  margin: 1rem;
  padding-top: 2rem; }
  .informacion h2 {
    font-size: 2rem;
    text-align: center;
    text-decoration: overline; }
    .informacion h2 p {
      font-size: 1.2rem; }

.infoLugar {
  margin: 1rem;
  padding-top: 1rem;
  color: #818181; }
  .infoLugar h2 {
    font-size: 2.2rem; }
  .infoLugar h3 img {
    padding-top: 2rem; }

.servicios {
  margin: 1rem;
  color: #818181; }
  .servicios h2 {
    font-size: 2.2rem;
    text-align: center;
    text-decoration: underline; }
  .servicios h3 img {
    display: flex;
    padding-top: 2rem; }

.infoC {
  margin: 0.8rem;
  padding: 0.5rem;
  padding-top: 3rem; }
  .infoC h2 {
    font-size: 2.3rem;
    margin-left: 1rem;
    text-transform: uppercase; }
    .infoC h2 p {
      font-size: 1rem; }
  .infoC h3 ul {
    margin: 1rem;
    padding-top: 2rem;
    list-style: none; }

.titulob {
  font-family: 'Aboreto', cursive;
  padding-top: 3rem; }
  .titulob p {
    margin-left: 3rem;
    padding-top: 3rem;
    text-decoration: underline;
    font-size: 2.3rem; }

.imagenes {
  padding-top: 4rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem; }
  .imagenes img {
    width: 10rem;
    opacity: 0.5; }
    .imagenes img:hover {
      width: 15rem;
      border: 5px black solid;
      opacity: 1; }

.videos {
  font-family: 'Aboreto', cursive;
  padding-top: 5rem;
  text-align: center;
  text-decoration: overline; }
  .videos p {
    margin-bottom: 4rem;
    font-size: 2rem; }

.ubicacion {
  margin: 1rem;
  padding-top: 4rem; }
  .ubicacion h2 p {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem; }
  .ubicacion h3 p {
    font-size: 1.2rem; }
  .ubicacion iframe {
    padding-top: 3rem;
    width: 700px;
    height: 500px; }

.horarios {
  margin: 1rem;
  padding-top: 2rem; }
  .horarios h2 {
    margin-bottom: 2rem;
    font-size: 2rem; }
  .horarios h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem; }

@media all and (max-width: 1150px) {
  .navbar {
    display: block;
    text-align: center; }
  .logo img {
    margin: auto; }
  nav ul li {
    display: block;
    background-color: #ff9d65;
    border-radius: 5px;
    margin: 1rem; }
  .imagenes {
    display: block; }
  .imagenes img {
    display: block; }
  .imagenesb {
    display: block; }
  .imagenesb img {
    display: block; }
  .videos iframe {
    display: block;
    width: 100%; }
  .ubicacion iframe {
    width: 100%; }
  .redes {
    display: flex; }
  .redes a img {
    width: 2rem; } }
